/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling untuk body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
  color: #333;
  padding: 15px;
}

/* Kontainer utama yang membagi tampilan menjadi dua bagian */
.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}

/* Bagian kanan ( hasil) */
.main-right {
  flex: 1;
  padding: 20px;
  background-color: #fff;


}

/* Bagian kiri (form input) */
.main-left {
  flex: 1;
  padding: 20px;
  background-color: #fafafa;

}

/* Styling untuk header */
header {
  margin-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

header h3 {
  font-size: 20px;
  color: #333;
}

/* Styling untuk artikel */
article {
  margin-bottom: 20px;
}

article p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

aside {
  margin-bottom: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 8px;
}

/* Styling untuk form */
form {
  background-color: #f0f0f0;
  padding-left: 10px;
  border-radius: 8px;
}

form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

/*styling input yang bertipe radio */
form input[type="radio"] {
  margin: 4px;
}

/*styling input yang bertipe number */
form input[type="number"] {
  width: calc(100% - 22px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  background-image: url('../assets/pen.png');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px;
}

/* Styling button di form*/
form button {
  padding: 8px 13px;
  border: none;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
  color: #333;
  font-size: 16px;
  margin-right: 10px;
}

form button:hover {
  background-color: #bbb;
}

/* Styling untuk hasil kalkulator */
#hasilbmi {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  text-align: center;
  border-radius: 8px;
}

#hasilbmi .bmi-value {
  font-size: 36px;
  color: #666;
}

#hasilbmi .category,
#hasilbmi .minidesc {
  font-size: 18px;
  color: #666;
}

#hasilbmi .download-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
}

#hasilbmi .download-btn:hover {
  background-color: #bbb;
}

/* Styling untuk footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  margin-top: auto;
}

footer img {
  width: 150px;
}

/*insi untuk di hp kata kak yama*/
@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

}